#news .news-cards .news-card {
    border-right: 1px solid var(--red);
}

#news .news-cards .news-card:last-child {
    border-right: none;
}

#news .news-cards .news-card .content-wrapper {
    padding: 10px;
}
