:root {
    --primary-color: #1d1d1d;
    --primary-text-color: #f8f8f8;
    --grey-color: #7c7c7c;
    --silver-color: #bfbfbf;

    --red-color: #ff3b39;
    --red-hover-color: #ff1a18;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Geologica:wght@100..900&display=swap");

/*-------STYLES-------*/

body {
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    max-width: 1280px;
    margin: 50px auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", serif;
    font-weight: 700;
    color: var(--primary-text-color);
}

h1 { font-size: 38px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }

p {
    font-size: 14px;
    line-height: 1.4;
}

/*-------HEADER-------*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

/*logo*/
.logo {
    width: 105px;
}

/*navigation*/
nav {
    width: calc(100% - 292px);
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

nav .main-menu a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: bold;
    text-transform: uppercase;
}

.main-menu a:hover {
    color: var(--silver-color);
}


/*-------SEARCH-------*/


.search {
    width: 24px;
    margin-left: auto;
}

/*--------LANGUAGE-------*/

.language {
    width: 105px;
}

.language .lang-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.language .flag {
    width: 28px;
    height: 20px;
    border-radius: 3px;
    display: block;
}

/*-------BANNER-------*/

.banner {
    display: flex;
    align-items: center;
    position: relative;
    height: 720px;
    padding: 40px 70px;

    background: linear-gradient(to right, var(--primary-color) 60%, var(--red-color) 60%);
    color: white;

    overflow: hidden;
}

.banner-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 10;
}

.banner h1 {
    font-size: 2.5rem;
}

.banner p {
    font-size: 1.2rem;
    line-height: 1.5;
}

/*BANNER IMAGE*/

.banner-img {
    position: absolute;
    top: -80px;
    right: 0;
}

/*-----BUTTON-------*/

.btn {
    display: inline-block;
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
    color: var(--primary-text-color);

    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;

    transition: 0.3s;
}

.btn:hover {
    background-color: var(--red-hover-color);
    border-color: var(--red-hover-color);
}

.btn:focus {
    background-color: var(--primary-color);
    outline: 2px solid var(--silver-color);
}

.btn:active {
    transform: scale(0.95);
}


/*-------FLEXBOX SECTION-------*/

section {
    margin-bottom: 50px;
}

.specialty-cards,
.numbers-cards,
.review-cards,
.partner-logos,
.news-carousel {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.specialty-cards article,
.numbers-cards article,
.review-cards article,
.news-card {
    flex: 1;
    min-width: 250px;
}

/*IF NUMBERS*/
#numbers .numbers-cards {
    align-items: center;
}

/*VIDGUK*/
#reviews .review-cards {
    align-items: stretch;
}

.review-cards cite {
    display: block;
    margin-top: 10px;
    text-align: right;
}


/*-------NAYKA-------*/

#science img {
    width: 100%;
    margin-top: 15px;
    border-radius: 20px;
}

#science button {
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

#science button:hover {
    background-color: #cd5c5c;
}


/*-------PARTNER-------*/

.partner-logos {
    justify-content: space-between;
}

.partner-logos img {
    height: 70px;
    opacity: 0.8;
    transition: .3s ease;
}

.partner-logos img:hover {
    opacity: 1;
}


/*-------NEWS-------*/

#news video {
    width: 100%;
    border: 8px;
    margin-top: 10px;
}


/*-------CONTACT-------*/

#contacts p {
    margin: 20px 0;
}

#contacts a {
    color: #ffffff;
    text-decoration: none;
}

#contacts a:hover {
    text-decoration: underline;
}


/*-------FOOTER-------*/

footer {
    border-top: 3px solid rgba(255, 255, 255, 0.3);
    margin-top: 250px;
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
}

footer img.logo {
    height: 70px;
    margin-bottom: 15px;
}


